h1{
 text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	color: pink;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 58px;
	line-height: 54px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
	font-weight: bold;
}

body{
	background-color: rosybrown;
}


 
#container{
	width: 1000px;
	height: 800px;
	margin: auto;
	text-align: center;
}

.btnReset{
	background-color: thistle;
	border: none;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
}

.allTheMistakes{
	font-weight: bold;
	color: thistle;
}

.guessWord{
	font-weight: bold;
	color: thistle;
	font-size: 20px;
	
}

#TheAnswerWord{
	font-weight: bold;
	color: thistle;
}













